@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

header {
  background-color: #F9F9F9;
  text-align: center;
}

.logo {
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  padding: 10px 30px;
  background-color: #070707;
  cursor: pointer; 
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 12px 22px 12px 22px;
}

nav a {
  text-decoration: none;
  color: #404040;
  font-weight: 500;
  /* margin: 0 20px; */
  font-size: 16px;
}

nav a:hover {
  color: #08298A;

  transform: scaleX(1);
  transition: transform 3s ease-in-out;
}

.identity a {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #91A4D4 40%);
}

#main_menu>li {
  /* border: 1px solid red; */
  position: relative;
}

#main_menu>li>a {
  display: block;
}

#sub_menu>li {
  display: block;
  /* vertical-align: top; */
  padding: 12px 22px;
  /* border-bottom: 1px solid rgba(0,0,0,0.15); */
}

#sub_menu>li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#sub_menu {
  position: absolute;
  left: 0;
  margin-top: 12px;

  background: #F2F2F2;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: all 0.15s ease-in;
}

#main_menu>li:hover #sub_menu {
  opacity: 1;
  visibility: visible;
  display: block;
}

.container {
  width: 1276px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
}

.conA {
  height:100px;
}

.conA h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 160%;
  margin-top: 200px;
  margin-bottom: 40px;

  position: relative;
}

.conA .button{
  font-size: 40px;
  color: #CACACA;

  position: absolute;
  top: 160px;
}

.button:hover{
  color: #0B005C;
}

.conB{
  height: 600px;
  /* margin-bottom: -150px; */
}
.box1{
  display: inline-block;
  width: 460px;
  height: 460px;
  border: 4px solid #222;
  margin-top: -160px;
  margin-left: 800px;
  position: relative;
  z-index: -1;
}
.image {
  margin-top: -400px;
  margin-left: 870px;
  width: 460px;
  height: 460px;
  overflow: hidden;
}

.image img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
.box3{
  display: inline-block;
  width: 950px;
  height: 390px;
  background-color: #555;
  margin-top: -350px;
  margin-left: 0px;
  z-index: -2;
  position: absolute;
}


.box3 h2{
  color: rgb(255, 255, 255);
  margin-top: 80px;
  margin-left: 70px;
  font-size: 20px;
  font-weight: 100;
  line-height: 40px;
  text-align: justify;
  width: 662px;
  z-index: 2;
  position: relative;
}

#lab_social_icon_footer {
  margin-bottom: -30px;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  background-color: #000;
}

#lab_social_icon_footer a {
  color: #fff;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #d34836;
}

#lab_social_icon_footer #social-em:hover {
  color: #f39c12;
}